<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4">
  <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-8">
      <mat-tab-group>
        <mat-tab *ngFor="let tab of lotsOfTabs;let i = index">
          <ng-template mat-tab-label>
            {{tab.TabTitle}}
            <button class="btn-close" (click)="closeTab(i)">
            </button>
          </ng-template>
          {{tab.Content}}
        </mat-tab>
        <app-frame></app-frame>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <dx-date-box></dx-date-box>
    
  </div>

</div>


<app-map-base [center]="centerLocation" (selectedLocation)="onLocationChange($event)"></app-map-base>

<!-- <app-progress-bar></app-progress-bar> -->

<!-- <app-step-form></app-step-form> -->

<app-form-test></app-form-test>

<!-- <app-single-dropdown></app-single-dropdown> -->

<!-- <app-multiple-dropdown></app-multiple-dropdown> -->

<router-outlet></router-outlet>
