
    <div  #gholam class="row g-2">
      <div class="col-md-12">
        <a class="btn btn-info" style="width: 100%" (click)="addTabSample('منوی 1')">منوی 1</a>
      </div>
      <div class="col-md-12">
        <a class="btn btn-info" style="width: 100%" (click)="addTabSample('منوی 2')">منوی 2</a>
      </div>
      <div class="col-md-12">
        <a class="btn btn-info" style="width: 100%" (click)="addTabSample('منوی 3')">منوی 3</a>
      </div>
      <div class="col-md-12">
        <a class="btn btn-info" style="width: 100%" (click)="addTabSample('منوی 4')">منوی 4</a>
      </div>
    </div>

